@{
    ViewBag.Title = "صفحه اصلی";    
}
<div style="padding: 5px 3px">
    <p><h4>فایل های Word</h4></p>
    <p><a href="~/Templates/CarInstallment">قرارداد تسهیلات فروش اقساطی خودرو</a></p>
    <p><a href="~/Templates/CreditFacility">پرسشنامه درخواست تسهیلات اعتباری</a></p>
    <p><a href="~/Templates/SalesLetterForm">فرم بیع نامه</a></p>
    <p><a href="~/Templates/AttachmentNoOne">پیوست شماره یک قرارداد تسهیلات فروش اقساطی</a></p>
    <p><a href="~/Templates/VehicleDeliveryForm">فرم گواهی تحویل و قبول خودرو</a></p>
    <p><a href="~/Templates/GoodsDeliveryForm">فرم گواهی تحویل و قبول کالا</a></p>
    <p><h4>فایل های PDF</h4></p>
    <p><a href="~/Default/CarInstallment">قرارداد تسهیلات فروش اقساطی خودرو</a></p>
    <p><a href="~/Default/CreditFacility">پرسشنامه درخواست تسهیلات اعتباری</a></p>
    <p><a href="~/Default/SalesLetterForm">فرم بیع نامه</a></p>
    <p><a href="~/Default/AttachmentNoOne">پیوست شماره یک قرارداد تسهیلات فروش اقساطی</a></p>
    <p><a href="~/Default/VehicleDeliveryForm">فرم گواهی تحویل و قبول خودرو</a></p>
    <p><a href="~/Default/GoodsDeliveryForm">فرم گواهی تحویل و قبول کالا</a></p>
    <p><h4>فایل های پی دی اف</h4></p>
    <p><a href="~/PdfGeneration/CarInstallment">قرارداد تسهیلات فروش اقساطی خودرو</a></p>
    <p><a href="~/PdfGeneration/CreditFacility">پرسشنامه درخواست تسهیلات اعتباری</a></p>
    <p><a href="~/PdfGeneration/SalesLetterForm">فرم بیع نامه</a></p>
    <p><a href="~/PdfGeneration/AttachmentNo1">پیوست شماره یک قرارداد تسهیلات فروش اقساطی</a></p>
    <p><a href="~/PdfGeneration/VehicleDeliveryForm">فرم گواهی تحویل و قبول خودرو</a></p>
    <p><a href="~/PdfGeneration/GoodsDeliveryForm">فرم گواهی تحویل و قبول کالا</a></p>

</div>

