@{
    ViewBag.Title = "صفحه اصلی";
}
<div style="padding: 5px 3px">
    <p><a href="~/Templates/CarInstallment">قرارداد تسهیلات فروش اقساطی خودرو</a></p>
    <p><a href="~/Templates/CreditFacility">پرسشنامه درخواست تسهیلات اعتباری</a></p>
    <p><a href="~/Templates/SalesLetterForm">فرم بیع نامه</a></p>
    <p><a href="~/Templates/AttachmentNoOne">پیوست شماره یک قرارداد تسهیلات فروش اقساطی</a></p>
    <p><a href="~/Templates/VehicleDeliveryForm">فرم گواهی تحویل و قبول خودرو</a></p>
</div>

