@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        
        <p><a href="/Formula/SaveFormula" class="btn btn-primary btn-md">ثبت فرمول</a></p>
    </section>

    
</main>