@{
    ViewBag.Title = "صفحه اصلی";
}

<main>
    <div class="row">
        <p><a href="/Formulas/Index" class="text-decoration-none">مدیریت فرمول ها</a></p>
        <p><a href="/ClsInstances/Index" class="text-decoration-none">فــرم نمونه سازی</a></p>
    </div>
</main>