@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p><a href="/Home/ClassList" class="btn btn-primary btn-md">لیست کلاس ها</a></p>
        <p><a href="/Home/ClsSettings" class="btn btn-primary btn-md">تنظیمات کلاس</a></p>

        <p><a href="/Salary/Calculate" class="btn btn-primary btn-md">حقوق</a></p>
    </section>

    
</main>