@{
    ViewBag.Title = "صفحه اصلی";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/Home/UploadFile" class="text-decoration-none">آپلود فایل اکسل</a> <br />
    <a href="/Home/InsuranceReport" class="text-decoration-none">گزارش بیمه</a> <br />
    <a href="/Home/FileUploads" class="text-decoration-none">سوابق آپلود</a> <br />

</div>
